
<div class="white-popup popup-div" dir="rtl">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-formhelpers.css">
     <link rel="stylesheet" type="text/css" href="lib/css/chosen.css">
    <script type='text/javascript' src='lib/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='lib/js/bootstrap-formhelpers.js'></script>
    <script type='text/javascript' src='lib/js/chosen.jquery.js'></script>
    <script type='text/javascript' src='lib/js/admin-popup-jq.js'></script>

    <br><form id="addclass"  method="post" action="add_class_to_schedule" dir="rtl">

    <fieldset dir="rtl">
        <legend align="right">פרטי קורס</legend>
        <div id="date" dir="rtl" class="bfh-datepicker" data-format="d/m/y" data-date="{{class_date}}"></div><br>
        <div id="time" dir="rtl" class="bfh-timepicker" data-time="{{class_time}}"></div><br>

        <div>
        <span style="float:right;"><label for="amount"> משך שיעור בדקות </label>
         <input type="text" readonly="readonly" id="amount" style="border:0; color:#f6931f; font-weight:bold; width:50px;"></span>
             <div id="slider-range-min" style="float:left; width:60%; margin-top:6px;"></div>
        </div><br><br>


        <div>
        <span style="float:right;"><label for="participants"> מספר משתתפים </label>
         <input type="text" readonly="readonly" id="participants" style="border:0; color:#006E00; font-weight:bold; width:50px;"></span>
             <div id="slider-range-min2" style="float:left; width:60%; margin-top:6px;"></div>
        </div><br><br>

        <select id="classname" class="chosen-select chosen-rtl" data-placeholder="בחר שם שיעור">
            <option value=""></option>
            {% for class in class_names %}
            <option value="{{class}}">{{class}}</option>
            {% endfor %}
        </select><br><br>

        <select id="studio" class="chosen-select chosen-rtl" data-placeholder="בחר סטודיו">
            <option value=""></option>
            {% for studio in studio_names %}
            <option value="{{studio}}">{{studio}}</option>
            {% endfor %}
        </select><br><br>
        <select id="instructor" class="chosen-select chosen-rtl" data-placeholder="בחר מדריך">
            <option value=""></option>
             {% for instructor in instructor_names %}
            <option value="{{instructor}}">{{instructor}}</option>
            {% endfor %}
        </select><br><hr>
        <fieldset>
        <legend align="right"> מועד פתיחת הרשמה </legend>
           <div id="opendate" dir="rtl" class="bfh-datepicker" data-format="d/m/y" data-date="{{class_date}}"></div><br>
            <div id="opentime" dir="rtl" class="bfh-timepicker" data-time="{{class_time}}"></div><br>
            </fieldset>
        <div style="float:right;">
        <input type="checkbox" name="allmonth" id="allmonth""> שמור לכל החודש </div>
        <input type="submit" value="הוסף" style="float:right; margin-right:80px;">
    </fieldset>

</form>


</div>
