
<div class="white-popup popup-div" dir="rtl">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-formhelpers.css">
     <link rel="stylesheet" type="text/css" href="lib/css/chosen.css">
    <script type='text/javascript' src='lib/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='lib/js/bootstrap-formhelpers.js'></script>
    <script type='text/javascript' src='lib/js/chosen.jquery.js'></script>
    <script type='text/javascript' src='lib/js/admin-popup-jq.js'></script>
    <br><form id="addclass" action="add_class_to_schedule" method="post" dir="rtl">
    <fieldset dir="rtl">
        <legend align="right">פרטי קורס</legend>
        <div id="date" dir="rtl" class="bfh-datepicker" data-format="d/m/y" data-date="{{class_date}}"></div><br>
        <div id="time" dir="rtl" class="bfh-timepicker" data-time="{{class_time}}"></div><br>

        <select id="classname" class="chosen-select chosen-rtl" data-placeholder="בחר שם שיעור">
            <option value=""></option>
            {% for class in class_names %}
            <option value="{{class}}">{{class}}</option>
            {% endfor %}
        </select><br><br>

        <select id="studio" class="chosen-select chosen-rtl" data-placeholder="בחר סטודיו">
            <option value=""></option>
            {% for studio in studio_names %}
            <option value="{{studio}}">{{studio}}</option>
            {% endfor %}
        </select><br><br>
        <select id="instructor" class="chosen-select chosen-rtl" data-placeholder="בחר מדריך">
            <option value=""></option>
             {% for instructor in instructor_names %}
            <option value="{{instructor}}">{{instructor}}</option>
            {% endfor %}
        </select><br><br>
    </fieldset>

</form>


</div>
