<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Classter Admin View</title>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery-ui.css' />
    <link rel='stylesheet' type='text/css' href='lib/css/jquery.weekcalendar.css' />
    <link rel="stylesheet" type="text/css" href="lib/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="lib/css/responsive-tables.css">
    <link rel="stylesheet" type="text/css" href="lib/css/chosen.css">
    <link rel="stylesheet" type="text/css" href="lib/css/spectrum.css">
    <link rel="stylesheet" type="text/css" href="lib/css/admin-grid.css">

    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery-ui.min.js"></script>
    <script type='text/javascript' src='lib/js/jquery.mb.browser.min.js'></script>
    <script type="text/javascript" src="lib/js/date.js"></script>
    <script type='text/javascript' src='lib/js/jquery.weekcalendar.js'></script>
    <script type="text/javascript" src="lib/js/jquery.magnific-popup.js"></script>
    <script type='text/javascript' src='lib/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='lib/js/responsive-tables.js'></script>
    <script type='text/javascript' src='lib/js/jquery-scrollTo.js'></script>
    <script type='text/javascript' src='lib/js/chosen.jquery.js'></script>
    <script type='text/javascript' src='lib/js/spectrum.js'></script>
    <script type='text/javascript' src='lib/js/admin-grid-jq.js'></script>
</head>
<body>
<ul class="nav nav-tabs" data-tabs="tabs" id="body">
    <li class="active"><a href="#caldiv" data-toggle="tab">מערכת שעות</a></li>
    <li><a href="#manage" data-toggle="tab">ניהול חד"כ</a></li>
</ul>
<div class="tab-content">
    <div id="caldiv" class="tab-pane active">
        <div id="calsideview">
            <img src="img/lakerslogo.png" height="250" width="250"/><br><br>
            <div class="week-picker" id="weekpicker"> </div>


        </div>

        <div id="calendar"></div></div>
    <div id="manage" class="tab-pane">
        <div class="jumbotron text-center" style="background-color:#B8DBFF;margin-bottom:0;"><h2>ניהול חדר כושר</h2> </div>
        <div id="content">
            <nav id="stickynav" dir="rtl">
                <ul id="nav" class="clearfix">
                    <li><a href="#mngclasses">שיעורים</a></li>
                    <li><a href="#mnginstructors">מדריכים</a></li>
                    <li><a href="#mngstudios">חדרי סטודיו</a></li>
                    <li><a href="#mngusers">משתמשים</a></li>
                    <li><a href="#body">ראשי</a></li>
                </ul>
            </nav>
            <div id="mnginstructors" class="text-center" style="min-height:500px; background-color:#DBDBFF;padding-top:20px;">
                <h1> מדריכים</h1><br>
                <div class="mngcontainer">
                <div class="container" dir="rtl" style="float:right;width:300px;border:2px solid;">
                    <select id="instructorselect" class="chosen-select chosen-rtl manager" data-placeholder="שם מדריך" style="float:right;">
                        <option value=""></option>
                        {% for instructor in instructor_names %}
                                <option value="{{instructor_names[instructor].first_name}} {{instructor_names[instructor].last_name}}" data-tid="{{instructor_names[instructor].id_num}}">{{instructor_names[instructor].first_name}} {{instructor_names[instructor].last_name}}</option>
                        {% endfor %}
                    </select>
                    <form id="editinstructorform">
                    <label for="instructorid">ת.ז</label>
                    <input type="text" id="instructorid"/><br>
                    <label for="instructorfirstname"> שם פרטי </label>
                    <input type="text" id="instructorfirstname"/><br>
                    <label for="instructorlastname"> שם משפחה </label>
                    <input type="text" id="instructorlastname" /><br><br>
                    <input type="button" id="editinstructor" value="עדכן"/>  <input type="button" id="deleteinstructor" value="מחק" style="margin-bottom: 10px;"/>
                    </form>
                </div>
                    <div class="container" dir="rtl" style="float:left;width:300px;border:2px solid;">
                    <form id="newinstructorform">
                    <h4>הוספת מדריך חדש</h4>
                    <label for="newinstructorid">ת.ז</label>
                    <input type="text" id="newinstructorid"/><br>
                    <label for="newinstructorfirstname"> שם פרטי </label>
                    <input type="text" id="newinstructorfirstname"/><br>
                    <label for="newinstructorlastname">שם משפחה</label>
                    <input type="text" id="newinstructorlastname"/><br><br>
                    <input type="button" id="addinstructor" value="הוסף" style="margin-bottom: 10px;"/>
                        </form>
                </div>
                </div>
            </div>

            <div id="mngstudios" class="text-center" style="min-height:500px; background-color:#E6FFE6;padding-top:20px;">
                <h1> חדרי סטודיו</h1><br>
                <div class="mngcontainer">
                    <div class="container" dir="rtl" style="float:right;width:300px;border:2px solid;">
                        <select id="studioselect" class="chosen-select chosen-rtl manager" data-placeholder="שם סטודיו" style="float:right;">
                            <option value=""></option>
                            {% for studio in studios %}
                            <option value="{{studio.name}}">{{studio.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="studioname"> שם</label>
                        <input type="text" id="studioname"/><br><br>
                        <input type="button" id="editstudio" value="עדכן"/>  <input type="button" id="deletestudio" value="מחק" style="margin-bottom: 10px;"/>
                    </div>
                    <div class="container" dir="rtl" style="float:left;width:300px;border:2px solid;">
                        <h4>הוספת סטודיו חדש</h4>
                        <label for="newstudioname"> שם</label>
                        <input type="text" id="newstudioname"/><br><br>
                        <input type="button" id="addstudio" value="הוסף" style="margin-bottom: 10px;"/>
                    </div>
                </div>
            </div>
            <div id="mngclasses" class="text-center" style="min-height:500px; background-color:#FFEBD8;padding-top:20px;">
                <h1> שיעורים </h1>

                <div class="mngcontainer">
                    <br><br>
                    <div class="container" dir="rtl" style="float:right;width:300px;border:2px solid;">

                        <select id="classselect" class="chosen-select chosen-rtl manager" data-placeholder="שם שיעור" style="margin-top:10px;">
                            <option value=""></option>
                            {% for class in courses %}
                            <option value="{{class}}" data-color="{{courses[class].color}}" data-description="{{courses[class].description}}">{{class}}</option>
                            {% endfor %}
                        </select>
                        <label for="classname"> שם</label>
                        <input type="text" id="classname"/><br>
                        <label for="classdescription"> תיאור</label>
                        <input type="text" id="classdescription"/><br>
                        <label for="classcolor"> צבע</label>
                        <input type="text" id="classcolor" /><br><br>
                    <input type="button" id="editclass" value="עדכן"/>  <input type="button" id="deleteclass" value="מחק" style="margin-bottom: 10px;"/>

                </div>


                <div class="container" dir="rtl" style="float:left;width:300px;border:2px solid;">

                    <h4> הוספת שיעור חדש </h4>
                    <label for="newclassname"> שם </label>
                    <input type="text" id="newclassname"/><br>
                    <label for="newclassdescription"> תיאור</label>
                    <input type="text" id="newclassdescription"/><br>
                    <label for="newclasscolor"> צבע</label>
                    <input type='text' id="newclasscolor" /><br><br>
                    <input type="button" id="addclass" value="הוסף" style="margin-bottom: 10px;"/>
                </div>
            </div>
                </div>
            <div id="mngusers" class="text-center" style="min-height:500px; background-color: #FFE6E6;padding-top:20px;">
                <h1> משתמשים</h1>
                <div class="mngcontainer">
                    <br><br>
                     <div class="container" dir="rtl" style="float:right;width:300px;border:2px solid;">
                      <select id="userselect" class="chosen-select chosen-rtl manager" data-placeholder="שם מנוי" style="margin-top:10px;">
                         <option value=""></option>
                        {% for user in users %}
                        <option value="{{user}} {{users[user].first_name}} {{users[user].last_name}}" data-email="{{users[user].email}}" data-phone="{{users[user].phone}}">{{user}} {{users[user].first_name}} {{users[user].last_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="userid"> תעודת זהות</label>
                    <input type="text" id="userid"/><br>
                    <label for="userfirstname">  שם פרטי</label>
                    <input type="text" id="userfirstname"/><br>
                    <label for="userlastname">  שם משפחה</label>
                    <input type="text" id="userlastname"/><br>
                    <label for="useremail">  email </label>
                    <input type="text" id="useremail"/><br>
                    <label for="userphone">  מספר טלפון </label>
                    <input type="text" id="userphone"/><br>
                    <input type="button" id="edituser" value="עדכן"/>  <input type="button" id="deleteuser" value="מחק" style="margin-bottom: 10px;"/>
                     </div>
                     <div class="container" dir="rtl" style="float:left;width:300px;border:2px solid;">
                         <h4>הוספת משתמש חדש</h4>s
                    <label for="newuserid"> תעודת זהות</label>
                    <input type="text" id="newuserid"/><br>
                    <label for="newuserfirstname">  שם פרטי</label>
                    <input type="text" id="newuserfirstname"/><br>
                    <label for="newuserlastname">  שם משפחה</label>
                    <input type="text" id="newuserlastname"/><br>
                    <label for="newuseremail">  email </label>
                    <input type="text" id="newuseremail"/><br>
                    <label for="newuserphone">  מספר טלפון </label>
                    <input type="text" id="newuserphone"/><br>
                         <br><br><input type="button" id="adduser" value="הוסף" style="margin-bottom: 10px;"/>
                    </div>
                 </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>