
<div class="white-popup popup-div" style="min-height: 400px;">

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="lib/css/chosen.css">


    <style>
        .selectable .ui-selecting { background: #FECA40; }
        .selectable .ui-selected { background: #F39814; color: white; }
        .selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        .selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
        li { width:100%; }
        h4 {display:inline; font-weight:bold;}
    </style>
    <script type='text/javascript' src='lib/js/chosen.jquery.js'></script>
    <script>
        $(function() {
             var selectedUserID;
            $('#selectable_signedup').selectable({
                selected: function(event, ui) {
                    selectedUserID = ui.selected.value;

                    $(ui.selected).addClass("ui-selected").siblings().removeClass("ui-selected");
                }
            });
            $('#selectable_waiting').selectable({
                selected: function(event, ui) {
                    selectedUserID = ui.selected.value;
                    $(ui.selected).addClass("ui-selected").siblings().removeClass("ui-selected");
                }
            });
            $('.chosen-select').chosen({
                no_results_text: 'לא נמצאו תוצאות',
                width: '70%'
            });

            $( '#adduserwait' ).click(function () {
                $('#waitingnamelist').empty();
                $.ajax(
                        {
                            url : '/get_all_users',
                            type: "POST",
                            data : {},
                            async:true,
                            success:function(data, textStatus, jqXHR)
                            {
                                var result = $.parseJSON(data);
                                for (var user in result) {

                                    userObj = result[user];
                                    $("#waitingnamelist").append(new Option(userObj.id +' '+ userObj.first_name + ' '+ userObj.last_name, userObj.id));


                                }
                                $('#waitingnamelist').trigger("chosen:updated");
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert('ארעה תקלה, נסה שנית');
                            }
                        });
                if ( $('#addwaiting').is( ":hidden" ) ) {

                    $( "#addwaiting" ).slideDown( "slow" );
                } else {

                    $( "#addwaiting" ).hide();
                }

            });
            $( '#adduserlist' ).click(function () {
                $('#classnamelist').empty();
                $.ajax(
                        {
                            url : '/get_all_users',
                            type: "POST",
                            data : {},
                            async:true,
                            success:function(data, textStatus, jqXHR)
                            {
                                var result = $.parseJSON(data);
                                for (var user in result) {

                                    userObj = result[user];
                                    $("#classnamelist").append(new Option(userObj.id +' '+ userObj.first_name + ' '+ userObj.last_name, userObj.id));


                                }
                                $('#classnamelist').trigger("chosen:updated");
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert('ארעה תקלה, נסה שנית');
                            }
                        });
                if ( $('#addlist').is( ":hidden" ) ) {

                    $( "#addlist" ).slideDown( "slow" );
                } else {

                    $( "#addlist" ).hide();
                }

            });

            $('#adduserbutton').on('click',  function(e) {
                postData = {};
                postData['user_id'] = $('#classnamelist').val();

                postData['class_id'] = courseID;
                postData['class_date'] = dateStr;

                $.ajax(
                        {
                            url : 'admin_register_to_course',
                            type: "POST",
                            data : postData,
                            dataType:'html',
                            async:'false',
                            success:function(data, textStatus, jqXHR)
                            {
                                //todo: update signued up counter on grid
                                var magnificPopup = $.magnificPopup.instance;
                                 magnificPopup.close();
                                $('#'+courseID).click();

                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert('בעיית תקשורת, אנא נסה שוב');
                            }
                        });
            });

            $('#addwaitbutton').on('click',  function(e) {
                //TODO: Add user to waiting list, just like #adduserbutton .click
            });

            $('#removeuserlist').on('click',  function(e) {
                 postData = {};
                alert( selectedUserID);
                postData['user_id'] = selectedUserID;
                postData['class_id'] = courseID;
                postData['class_date'] = dateStr;

                $.ajax(
                        {
                            url : '/admin_delete_from_course',
                            type: "POST",
                            data : postData,
                            dataType:'html',
                            async:'false',
                            success:function(data, textStatus, jqXHR)
                            {
                                //todo: update signued up counter on grid
                           //     $('li[value*=classID').remove();
                                 var magnificPopup = $.magnificPopup.instance;
                                 magnificPopup.close();
                                $('#'+courseID).click();

                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                alert('בעיית תקשורת, אנא נסה שוב');
                            }
                        });
            });

            $('#removeuserwait').on('click',  function(e) {
                //TODO: Add user to waiting list, just like #removeuserwait .click
            });
            $('#date').text(returnDotDateStr(new Date(parseInt("{{course.milli}}"))));
            $('#time').text(returnTimeStr(new Date(parseInt("{{course.milli}}"))));
     var dateStr = returnDateStr(new Date(parseInt("{{course.milli}}"))); // for adding/deleting user request
        var courseID = "{{course.id}}";
        });
        function returnDotDateStr (someDate) {
            return (someDate.getDate()<10?("0"+someDate.getDate()):someDate.getDate()) + "." +
                    ((someDate.getMonth()+1)<10?("0"+(someDate.getMonth()+1)):(someDate.getMonth()+1)) + "." +
                    someDate.getFullYear();
        }
        function returnTimeStr(someDate) {
            var someHour = (someDate.getHours() < 10? '0' : '') + someDate.getHours();
            var someMinutes = (someDate.getMinutes() < 10? '0' : '') + someDate.getMinutes();
            return (someHour + ":" + someMinutes);
        }


    </script>
    <div id="courseinfo" style="text-align:center;background-color:palegoldenrod;padding-top:15px;padding-bottom:15px;">
        <h4> {{course.name}} </h4> // <h4> {{course.instructor}} </h4> // <h4 id="date"></h4> // <h4 id="time"></h4>
    </div>
    <div class="text-center" style="width:100%;">
        <div id="userlist" style=" width:50%; float:left;text-align:center; margin: 0px auto 0px auto;">
            <h3 style="position:relative;"> רשומים </h3><div style="height:80%; min-height:200px; overflow: scroll; ">
            <ol id="selectable_signedup" class="selectable" style="text-align:center; margin: 0px auto 0px auto;">
                {% for user in users %}
                <li class="ui-widget-content" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</li>
                {% endfor %}
            </ol></div><br>
            <button type="button" id="adduserlist">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" id="removeuserlist">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <div id="addlist" style="display:none;"><br>
                <select id="classnamelist" class="chosen-select chosen-rtl" data-placeholder="הכנס ת.ז" >
                    <option value=""></option>
                </select>
                <input type="button" id="adduserbutton" value="הוסף" style="float:left;display: inline;"/>
            </div>
        </div>

        <div id="waitinglist" style="width:50%;float:right;text-align:center; margin: 0px auto 0px auto;">
            <h3 style="position:relative;"> המתנה </h3><div style="height:80%; min-height:200px; overflow: scroll;">
            <ol id="selectable_waiting" class="selectable" style="text-align:center; margin: 0px auto 0px auto;">
                {% for user in waiting_list %}
                <li class="ui-widget-content" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</li>
                {% endfor %}
            </ol></div><br>
            <button type="button" id="adduserwait">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" id="removeuserwait">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <div id="addwaiting" style="display:none;"><br>
                <select id="waitingnamelist" class="chosen-select chosen-rtl" data-placeholder="הכנס ת.ז">
                    <option value=""></option>
                </select>
                <input type="button" id="addwaitbutton" value="הוסף" style="float:left;display: inline;"/>
            </div>
        </div>
    </div>
</div>
