<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Classter Admin View</title>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery-ui-1.8.11.custom.css' />
    <link rel='stylesheet' type='text/css' href='lib/css/jquery.weekcalendar.css' />
    <link rel="stylesheet" type="text/css" href="lib/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/admin-grid.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      <script type='text/javascript' src='lib/js/jquery.mb.browser.min.js'></script>
    <script type="text/javascript" src="lib/js/date.js"></script>
    <script type='text/javascript' src='lib/js/jquery.weekcalendar.js'></script>
    <script type="text/javascript" src="lib/js/jquery.magnific-popup.min.js"></script>
    <script type='text/javascript' src='lib/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='lib/js/admin-grid-jq.js'></script>
</head>
<body>
<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#calendar" data-toggle="tab">מערכת שעות</a></li>
    <li><a href="#users" data-toggle="tab">משתמשים</a></li>
    <li><a href="#courses" data-toggle="tab">שיעורים</a></li>
</ul>
<div class="tab-content">
<div id="calendar" class="tab-pane active"></div>
<div id="users" class="tab-pane"><h2>ניהול משתמשים</h2></div>
<div id="courses" class="tab-pane"><h2>ניהול שיעורים</h2></div>
    </div>
</body>
</html>