<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Classter JS Library Test v1</title>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery-ui-1.8.11.custom.css' />
    <link rel='stylesheet' type='text/css' href='lib/css/jquery.weekcalendar.css' />
    <script type='text/javascript' src='lib/js/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='lib/js/jquery-ui-1.8.11.custom.min.js'></script>
    <script type="text/javascript" src="lib/js/date.js"></script>
    <script type='text/javascript' src='lib/js/jquery.weekcalendar.js'></script>
    <script type='text/javascript' src='lib/js/grid-jq.js'></script>
    <script>
        var classesObjectArr = new Array(); //to save secondary information on all courses
        var classesTableArr = new Array(); //to insert each class to our calendar

    </script>

</head>
<body>
<div id="calendar"></div>
{% for day in days %}
    {% for course in day.courses_list %}
        <script>
            var goodTime = "{{ day.javascript_course_start_datetime(course) }}"
               console.log(goodTime);
            alert('now in course')
            var oneClass ={};
            oneClass.year = "{{ day.year }}";
            oneClass.month = "{{ day.month }}";
            oneClass.dayOfWeek =(parseInt("{{ day.day_in_week }}")-1).toString();
            oneClass.dayOfMonth = "{{ day.day_in_month }}";
            oneClass.timeOfDay = "{{ course.hour }}";

            oneClass.classLength = parseFloat(parseInt("{{ course.duration }}") / 60);
            oneClass.colorCode = "{{ course.color }}" ;
            oneClass.studioID = "{{ course.studio }}";
            oneClass.className = "{{ course.name }}";
            oneClass.instructor = "{{ course.instructor }}";
            oneClass.maxSlots = "{{ course.max_capacity }}";

            oneClass.takenSlots = "{{ course.userslist }}".length; // watch out, might not work, make sure it does
            oneClass.classID = "{{ course.id }}"
        </script>
    {% endfor %}
{% endfor %}
</body>
</html>