<html><body><head>
       <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.css">

      <style>
        .centerdiv {
    width: 500px;
    height: 500px;

    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
    </style>
</head>
<div class="centerdiv">
    <h2>רישום משתמש חדש</h2>
    <h4>הכנס מס׳ תעודת זהות</h4>
<form action="/sign_up" method="POST">

<input type="text" name="id" />
    <br/>
    <br/>
<input type="submit" value="המשך" class="btn" />
</form>
</body></html>

