<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Classter User View</title>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery-ui-1.8.11.custom.css' />
    <link rel='stylesheet' type='text/css' href='lib/css/jquery.weekcalendar.css' />
    <link rel="stylesheet" type="text/css" href="lib/css/magnific-popup.css">
    <link rel='stylesheet' type='text/css' href='lib/css/user-grid.css' />
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery-ui.min.js"></script>
    <script type='text/javascript' src='lib/js/jquery.mb.browser.min.js'></script>
    <script type="text/javascript" src="lib/js/date.js"></script>
    <script type='text/javascript' src='lib/js/jquery.weekcalendar.js'></script>
    <script type='text/javascript' src='lib/js/user-grid-jq.js'></script>
    <script type="text/javascript" src="lib/js/jquery.magnific-popup.js"></script>



</head>
<body>

<div id="calendar"></div>
  <div id="test-popup" class="white-popup mfp-hide">
     <form id="signup" action="register_to_class" method="post">
        Please Enter Your Name To Sign Up:<br>
        <input type="text" name="firstname" /><br>
        <input type="hidden" id="classkey" name="classkey" value="" />
        <input type="submit" value="Submit">

    </form>
    </div>
</body>
</html>