<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Classter User View</title>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery-ui.css'/>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery.weekcalendar.css'/>
    <link rel="stylesheet" type="text/css" href="lib/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-theme.css">
    <link rel='stylesheet' type='text/css' href='lib/css/user-grid.css'/>
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery-ui.min.js"></script>
    <script type='text/javascript' src='lib/js/jquery.mb.browser.min.js'></script>
    <script type="text/javascript" src="lib/js/date.js"></script>
    <script type='text/javascript' src='lib/js/jquery.weekcalendar.js'></script>
    <script type="text/javascript" src="lib/js/jquery.magnific-popup.js"></script>
    <script type='text/javascript' src='lib/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='lib/js/user-grid-jq.js'></script>


</head>

<body>

<div id="welcomediv">

    {% if logged_in %}
    <h4 style="display:inline;">Welcome {{ user.name }}</h4>
    <a href="/logout" class="btn">logout</a>
    {% endif %}
</div>

<div id="logodiv"><img src="img/lakerslogo.png" height="220" width="220"/></div>
<div id="calendar"></div>


<!--<h2>webapp2 auth session information</h2>-->
<!--<table>-->
    <!--<tbody>-->
    <!--{% for k, v in session.items() -%}-->
    <!--<tr>-->
        <!--<td style="padding-right: 5px">{{ k }}:</td>-->
        <!--<td>{{ v }}</td>-->
    <!--</tr>-->
    <!--{% endfor -%}-->
    <!--</tbody>-->
<!--</table>-->


</body>
</html>