<div class="white-popup popup-div">

    <script>
        var classDate = "{{date}}";
        var className = "{{name}}";
        var startHour = "{{start_hour}}";
        var endHour = "{{end_hour}}";
    </script>
    <script type='text/javascript' src="lib/js/user-success-jq.js"></script>
    <div class="jumbotron text-center">
        <h2>ההרשמה בוצעה בהצלחה</h2>
        <h3 id="name">{{ name }}</h3>
        <h4 id="time">{{ start_hour }} -  {{ end_hour}}</h4>
        <h4 id="date">{{ date }}</h4>
  
    </div>
    <input type="button" class="button button-border-action button-rounded" id="addtocalendar" value="הוסף ל Google Calendar" />
    <a href="/create_event" class="btn">Add event to Google Calendar!</a>
    <input type="hidden" id="classkey" value="{{class_key}}"/>
    <input type="hidden" id="openslots" value="{{open_slots}}"/>

</div>