<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Classter User View</title>
    <link rel='stylesheet' type='text/css' href='lib/css/jquery-ui-1.8.11.custom.css' />
    <link rel='stylesheet' type='text/css' href='lib/css/jquery.weekcalendar.css' />
    <link rel="stylesheet" type="text/css" href="lib/css/magnific-popup.css">
    <link rel='stylesheet' type='text/css' href='lib/css/user-grid.css' />
    <!--<script type='text/javascript' src='lib/js/jquery-1.4.4.min.js'></script>-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type='text/javascript' src='lib/js/jquery.mb.browser.min.js'></script>
    <!--<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>-->

    <!--<script type='text/javascript' src='lib/js/jquery-ui-1.8.11.custom.min.js'></script>-->
       <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/js/date.js"></script>
    <script type='text/javascript' src='lib/js/jquery.weekcalendar.js'></script>
    <script type='text/javascript' src='lib/js/user-grid-jq.js'></script>
    <script type="text/javascript" src="lib/js/jquery.magnific-popup.min.js"></script>

    <script>
        var classesTableArr = new Array(); //to insert each class to our calendar

    </script>

</head>
<body>
{% for day in days %}
    {% for course in day.courses_list %}
        {%  set class_id = course.id %}
        <script>
            console.log('now parsing new class');
            var oneClass ={};
            oneClass.year = "{{ day.year }}";
            oneClass.month = "{{ day.month }}";
            oneClass.dayOfWeek =(parseInt("{{ day.day_in_week }}")-1).toString();
            oneClass.dayOfMonth = "{{ day.day_in_month }}";
            oneClass.id = "{{ course.id }}";


            oneClass.start =  parseFloat("{{ course.milli }}") ;
            console.log(new Date(oneClass.start));
            oneClass.end = oneClass.start+(parseInt("{{ course.duration }}")*60000);
            oneClass.classLength = parseFloat(parseInt("{{ course.duration }}") / 60);
            oneClass.colorCode = "{{ course.color }}" ;
            oneClass.studioID = "{{ course.studio }}";
            oneClass.title = "{{ course.name }}";
            oneClass.instructor = "{{ course.instructor }}";
            oneClass.maxSlots = "{{ course.max_capacity }}";
            oneClass.takenSlots = "{{ course.userslist }}".length; // watch out, might not work, make sure it does

            console.log(oneClass);
            classesTableArr.push(oneClass);
        </script>
    {% endfor %}
{% endfor %}
<div id="calendar"></div>
  <div id="test-popup" class="white-popup mfp-hide">
     <form id="signup" action="register_to_class" method="post">
        Please Enter Your Name To Sign Up:<br>
        <input type="text" name="firstname" /><br>
        <input type="hidden" id="classkey" name="classkey" value="" />
        <input type="submit" value="Submit">

    </form>
    </div>
</body>
</html>